/* Notification.css */
.notification {
    background-color: #f2f2f2;
    padding: 16px;
    margin: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
  }
  
  .notification.read {
    background-color: white; /* Change the color when marked as read */
    border: 1px thick black;
  }
  
  .notification-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 24px;
    border: 1px solid #ccc;
    text-align: center;
    width: 300px;
    height: 150px;
  }
  
  .notification-box button {
    cursor: pointer;
    background-color: rgb(77, 111, 173);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px;
    margin-top: 16px;
  }

  .bouton{
    background-color: rgb(77, 111, 173);
    width: 100px;
  }
  